Repository idrinth-api-bench/api-bench, pull requests merged in 2024-04, with the labels that each got.

#656 feature(documentation-website): make syntax highlighter even lighter
  documentation-website/src/components/code.tsx
  documentation-website/test/no-import-of-resources.js
Labels: documentation-website

#659 Update README.md
  .dictionary.txt
  README.md
Labels: documentation

#662 feature(documentation-website): add videos
  documentation-website/language/en.yml
  documentation-website/src/components/cookie-consent.tsx
  documentation-website/src/components/footer.tsx
  documentation-website/src/components/layout.tsx
  documentation-website/src/components/youtube-content.tsx
  documentation-website/src/components/youtube-link.tsx
  documentation-website/src/components/youtube.css
  documentation-website/src/components/youtube.tsx
  documentation-website/src/constants.ts
  documentation-website/src/pages/contributing/index.tsx
  documentation-website/src/pages/home/index.tsx
Labels: documentation-website

#631 fix(documentation-website): remove unnecessary media query
  documentation-website/src/index.css
Labels: documentation-website

#657 docs (documentation-website): Contributing.md and /contributing page …
  .dictionary.txt
  CONTRIBUTING.md
  documentation-website/language/en.yml
  documentation-website/src/pages/contributing/index.tsx
Labels: documentation, documentation-website

#670 feature(global): add spellcheck for data yaml files
  .dictionary.txt
  .github/workflows/cli.spellcheck.yml
  .github/workflows/documentation-website.spellcheck.yml
  .github/workflows/framework.spellcheck.yml
  .github/workflows/history-website.spellcheck.yml
  .github/workflows/mindmap.spellcheck.yml
  cli/.spellcheckerrc.yml
  cli/package-lock.json
  cli/package.json
  documentation-website/.spellcheckerrc.yml
  documentation-website/package-lock.json
  documentation-website/package.json
  framework/.spellcheckerrc.yml
  framework/package-lock.json
  framework/package.json
  history-microservice/package-lock.json
  history-website/.spellcheckerrc.yml
  history-website/package-lock.json
  history-website/package.json
  mindmap/.spellcheckerrc.yml
  mindmap/package-lock.json
  mindmap/package.json
  package-lock.json
  package.json
Labels: documentation-website, framework, history-microservice, history-website, cli, research, tools

#666 Reddit social link
  documentation-website/language/en.yml
  documentation-website/public/assets/socials/reddit.svg
  documentation-website/src/components/header.tsx
  documentation-website/src/index.css
Labels: documentation-website

#674 bug(documentation-website): fix typos
  .dictionary.txt
  documentation-website/language/en.yml
  documentation-website/src/components/command-body.tsx
  documentation-website/src/pages/usage/index.tsx
Labels: documentation-website, translation

#675 bug(framework): fix typos
  .dictionary.txt
  framework/language/en.yml
Labels: framework, translation

#676 feature(tools): dictionary sorting
  .dictionary.txt
  framework/language/en.yml
  package.json
  tools/dictionary.js
  tools/src/constants.js
Labels: framework, translation, tools

#677 feature(mindmap): enable linting
  .github/workflows/mindmap.eslint.yml
  .github/workflows/mindmap.stylelint.yml
  mindmap/.eslintrc.cjs
  mindmap/.stylelintrc.json
  mindmap/data.yml
  mindmap/package-lock.json
  mindmap/package.json
  mindmap/src/index.css
  mindmap/tools/data.js
Labels: research, tools

#679 feature(tools): add auto-publish
  .github/release.yml
  .github/workflows/release.yml
  .npmrc
  cli/.npmrc
  documentation-website/.npmrc
  framework/.npmrc
  history-microservice/.npmrc
  history-website/.npmrc
  mindmap/.npmrc
  tools/publish.js
Labels: documentation-website, framework, history-microservice, history-website, cli, research, tools

#686 feature(mindmap): easier to read links
  mindmap/assets/markmap.png
  mindmap/src/index.css
  mindmap/tools/data.js
Labels: tooling, research

#689 feature(global): introduce knip
  .github/workflows/cli.knip.yml
  .github/workflows/documentation-website.knip.yml
  .github/workflows/framework.knip.yml
  .github/workflows/history-microservice.knip.yml
  .github/workflows/history-website.knip.yml
  .github/workflows/mindmap.knip.yml
  .github/workflows/root.knip.yml
  .knip.json
  cli/.knip.json
  cli/package-lock.json
  cli/package.json
  cli/src/constants.ts
  cli/src/route-builder/find-name.ts
  cli/src/route-builder/to-filename.ts
  documentation-website/.knip.json
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/vite.config.ts
  framework/.knip.json
  framework/package-lock.json
  framework/package.json
  framework/src/constants.ts
  history-microservice/.knip.json
  history-microservice/package-lock.json
  history-microservice/package.json
  history-website/.knip.json
  history-website/package-lock.json
  history-website/package.json
  mindmap/.knip.json
  mindmap/package-lock.json
  mindmap/package.json
  package-lock.json
  package.json
Labels: documentation-website, framework, tooling, history-microservice, history-website, cli, research

#680 Issue create success check middleware
  documentation-website/language/en.yml
  documentation-website/src/pages/usage/middlewares/index.tsx
  framework/language/en.yml
  framework/src/middlewares/failure-check.ts
  framework/src/middlewares/success-check.ts
  framework/src/standard-response.ts
  framework/test/middlewares/failure-check.ts
  framework/test/middlewares/success-check.ts
Labels: documentation-website, framework, translation

#692 feature(documentation-website): introduce opening menu on arrow click
  documentation-website/src/components/header.tsx
  documentation-website/src/index.css
Labels: documentation-website

#694 refactor(documentation-website): simplify contributing
  documentation-website/src/components/list-unit.tsx
  documentation-website/src/pages/contributing/contributing.css
  documentation-website/src/pages/contributing/index.tsx
Labels: documentation-website

#696 feature(documentation-website): make cookie consent more specific
  .dictionary.txt
  documentation-website/language/en.yml
  documentation-website/src/components/cookie-consent-service.tsx
  documentation-website/src/components/cookie-consent.css
  documentation-website/src/components/cookie-consent.tsx
  documentation-website/src/components/local-consent-storage.ts
  documentation-website/src/components/youtube-content.tsx
  documentation-website/src/constants.ts
Labels: documentation-website, translation

#697 bug(documentation-website): fix header
  documentation-website/src/components/cookie-consent.css
  documentation-website/src/index.css
Labels: documentation-website

#699 feature(tools): add fta
  .github/workflows/cli.fta.yml
  .github/workflows/documentation-website.fta.yml
  .github/workflows/framework.fta.yml
  .github/workflows/history-microservice.fta.yml
  .github/workflows/history-website.fta.yml
  .knip.json
  cli/package-lock.json
  documentation-website/package-lock.json
  framework/package-lock.json
  history-microservice/package-lock.json
  history-website/package-lock.json
  mindmap/package-lock.json
  package-lock.json
  package.json
  tools/fta.js
  tools/src/constants.js
Labels: documentation-website, framework, tooling, history-microservice, history-website, cli, research

#698 docs (documentation-website): Adding Auto-Translation information to CONTRIBUTING.md and page
  CONTRIBUTING.md
  documentation-website/language/en.yml
  documentation-website/src/pages/contributing/index.tsx
Labels: documentation, documentation-website, translation

#703 bug(documentation-website): fix background
  documentation-website/src/index.css
Labels: documentation-website

#704 bug(documentation-website): fix background
  documentation-website/src/index.css
Labels: documentation-website

#709 feature(documentation-website): move to scss
  documentation-website/language/en.yml
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/src/components/code-unit.tsx
  documentation-website/src/components/code.css
  documentation-website/src/components/code.scss
  documentation-website/src/components/code.tsx
  documentation-website/src/components/command.scss
  documentation-website/src/components/command.tsx
  documentation-website/src/components/contributor.css
  documentation-website/src/components/contributor.scss
  documentation-website/src/components/contributor.tsx
  documentation-website/src/components/cookie-consent.css
  documentation-website/src/components/cookie-consent.scss
  documentation-website/src/components/cookie-consent.tsx
  documentation-website/src/components/faq-item.css
  documentation-website/src/components/faq-item.scss
  documentation-website/src/components/faq-item.tsx
  documentation-website/src/components/youtube.scss
  documentation-website/src/components/youtube.tsx
  documentation-website/src/index.scss
  documentation-website/src/main.tsx
  documentation-website/src/pages/contributing/contributing.css
  documentation-website/src/pages/contributing/index.tsx
  documentation-website/src/pages/quick-start/index.tsx
  documentation-website/vite.config.ts
Labels: documentation-website, translation

#711 feature(documentation-website): remove dark mode special cases
  .github/workflows/documentation-website.stylelint.yml
  documentation-website/src/components/code.scss
  documentation-website/src/components/command.scss
  documentation-website/src/components/contributor.scss
  documentation-website/src/components/cookie-consent.scss
  documentation-website/src/components/faq-item.scss
  documentation-website/src/index.scss
Labels: documentation-website, tooling

#713 Issue 707 event instead of interval
  documentation-website/src/components/local-consent-storage.ts
  documentation-website/src/components/youtube-content.tsx
  documentation-website/src/constants.ts
Labels: documentation-website

#716 feature(documentation-website): no more bashing of competitors
  documentation-website/language/en.yml
  documentation-website/src/pages/home/index.tsx
Labels: documentation-website, translation

#717 bug(mindmap): no more await in loop
  mindmap/tools/data.js
Labels: tooling, research

#720 feature(ci): add auto unassign/close
  .github/workflows/stale.yml
Labels: tooling

#722 feature(ci): extract css from index
  documentation-website/src/components/external-link.scss
  documentation-website/src/components/external-link.tsx
  documentation-website/src/components/sponsor.scss
  documentation-website/src/components/t.ts
  documentation-website/src/index.scss
Labels: documentation-website

#726 bug(examples): using start instead of run
  examples/jsonplaceholder.typicode.com/package.json
  examples/reqres.in/package.json
Labels: examples

#735 refactor(tools): add print-ci
  package-lock.json
  package.json
  tools/print-ci.js
  tools/src/constants.js
Labels: tooling

#742 bug(ci): remove unused env variable
  .coderabbit.yaml
  .github/workflows/cli.codeql.yml
  .github/workflows/cli.eslint.yml
  .github/workflows/cli.fta.yml
  .github/workflows/cli.knip.yml
  .github/workflows/cli.language-lint.yml
  .github/workflows/cli.license-check.yml
  .github/workflows/cli.mdlint.yml
  .github/workflows/cli.spellcheck.yml
  .github/workflows/cron.codeql.yml
  .github/workflows/cron.year-update.yml
  .github/workflows/documentation-website.codeql.yml
  .github/workflows/documentation-website.eslint.yml
  .github/workflows/documentation-website.fta.yml
  .github/workflows/documentation-website.knip.yml
  .github/workflows/documentation-website.language-lint.yml
  .github/workflows/documentation-website.license-check.yml
  .github/workflows/documentation-website.mdlint.yml
  .github/workflows/documentation-website.spellcheck.yml
  .github/workflows/documentation-website.stylelint.yml
  .github/workflows/framework.codeql.yml
  .github/workflows/framework.eslint.yml
  .github/workflows/framework.fta.yml
  .github/workflows/framework.knip.yml
  .github/workflows/framework.language-lint.yml
  .github/workflows/framework.license-check.yml
  .github/workflows/framework.mdlint.yml
  .github/workflows/framework.spellcheck.yml
  .github/workflows/global.commit-message.yml
  .github/workflows/global.release.yml
  .github/workflows/global.spellcheck.yml
  .github/workflows/history-microservice.codeql.yml
  .github/workflows/history-microservice.eslint.yml
  .github/workflows/history-microservice.fta.yml
  .github/workflows/history-microservice.knip.yml
  .github/workflows/history-microservice.license-check.yml
  .github/workflows/history-microservice.mdlint.yml
  .github/workflows/history-website.codeql.yml
  .github/workflows/history-website.eslint.yml
  .github/workflows/history-website.fta.yml
  .github/workflows/history-website.knip.yml
  .github/workflows/history-website.language-lint.yml
  .github/workflows/history-website.license-check.yml
  .github/workflows/history-website.mdlint.yml
  .github/workflows/history-website.spellcheck.yml
  .github/workflows/mindmap.codeql.yml
  .github/workflows/mindmap.eslint.yml
  .github/workflows/mindmap.knip.yml
  .github/workflows/mindmap.license-check.yml
  .github/workflows/mindmap.spellcheck.yml
  .github/workflows/mindmap.stylelint.yml
  .github/workflows/root.codeql.yml
  .github/workflows/root.eslint.yml
  .github/workflows/root.knip.yml
  .github/workflows/root.mdlint.yml
Labels: tooling

#743 feature(ci): limit pull request size to 500
  .github/workflows/global.pull-request-size.yml
Labels: tooling

#747 feature(mindmap): add linkedin survey results
  mindmap/data.yml
Labels: research

#751 feature(mindmap): add image support
  mindmap/README.md
  mindmap/assets/website-screenshot.png
  mindmap/data.yml
  mindmap/schema.json
  mindmap/src/index.css
  mindmap/src/show.js
  mindmap/tools/data.js
Labels: documentation, tooling, research

#752 Add image support to mindmap
  mindmap/src/index.css
  mindmap/src/show.js
Labels: documentation, tooling, research

#756 bug(mindmap): fix image removal
  .github/labeler.yml
  .gitignore
  mindmap/data.yml
  mindmap/package.json
  mindmap/src/show.js
  mindmap/src/show.ts
  mindmap/tools/data.js
  mindmap/tsconfig.json
Labels: tooling, research

#759 feature(mindmap): validate data
  .github/workflows/mindmap.validate.yml
  mindmap/package.json
  mindmap/tools/validate.js
Labels: tooling, mindmap

#712 Issue create test for mindmap
  .github/workflows/global.pull-request-size.yml
  .github/workflows/global.test.yml
  .gitignore
  mindmap/.knip.json
  mindmap/.mocharc.cjs
  mindmap/.nycrc.json
  mindmap/package-lock.json
  mindmap/package.json
  mindmap/test/.eslintrc.yml
  mindmap/test/integration.ts
Labels: documentation-website, framework, tooling, history-microservice, cli, research, mindmap

#765 feature(ci): rework printing for easier to read output
  tools/print-ci.js
Labels: tooling

#762 feature(framework): introduce status symbols
  framework/language/en.yml
  framework/package-lock.json
  framework/package.json
  framework/src/cli/check-routes.ts
  framework/src/reporter/console-reporter.ts
  tools/setup.js
Labels: framework, tooling, translation

#767 feature(framework): property test language and max-time
  .github/workflows/global.test.yml
  containers/api-bench-build/Dockerfile
  framework/.knip.json
  framework/.npmignore
  framework/package-lock.json
  framework/package.json
  framework/property/helper/language.ts
  framework/property/middlewares/max-time.ts
Labels: framework, tooling

#737 docs(documentation-website):Add npm run local to Contributor Guidelines
  CONTRIBUTING.md
Labels: documentation

#774 fix(docs): Added social buttons in root, Framework, and cli README
  .dictionary.txt
  README.md
  cli/README.md
  framework/README.md
Labels: documentation, framework, cli

#773 Issue 695 fixed
  documentation-website/language/en.yml
Labels: documentation-website, translation

#778 bug(documentation-website,framework,cli,history-website): __proto__ i…
  cli/src/helper/language.ts
  documentation-website/src/components/t.ts
  framework/src/helper/language.ts
  history-website/src/lib/t.ts
Labels: documentation-website, framework, history-website, cli

#782 feature(ci): add editorconfig checker
  .github/workflows/global.editorconfiglint.yml
  documentation-website/README.md
  documentation-website/src/components/command.scss
  framework/src/middlewares/.eslintrc.yml
Labels: documentation, documentation-website, framework, tooling

#789 bug(mindmap,documentation-website): fix linkedin spelling
  .dictionary.txt
  documentation-website/language/en.yml
  mindmap/data.yml
Labels: documentation-website, translation, mindmap

#798 feature(mindmap,documentation-website,history-website): exchange logo
  documentation-website/index.html
  documentation-website/src/assets/favicon.svg
  documentation-website/src/assets/iab.svg
  history-website/index.html
  history-website/src/assets/favicon.svg
  history-website/src/assets/iab.svg
  mindmap/assets/favicon.svg
  mindmap/assets/iab.svg
  mindmap/tools/data.js
Labels: documentation-website, tooling, history-website, mindmap

#800 bug(documentation-website,mindmap,history-website): provide logo and …
  .github/workflows/global.test.yml
  .github/workflows/mindmap.validate.yml
  .gitignore
  assets/favicon.svg
  assets/iab.svg
  documentation-website/package.json
  documentation-website/src/assets/favicon.svg
  documentation-website/src/assets/iab.svg
  documentation-website/tools/copy-assets.js
  history-website/package.json
  history-website/tools/copy-assets.js
  mindmap/assets/favicon.svg
  mindmap/assets/iab.svg
  mindmap/package.json
  mindmap/tools/copy-assets.js
Labels: documentation-website, tooling, history-website, mindmap

#802 docs(documentation-website):add code factor rating to CLI README
  cli/README.md
Labels: documentation, cli

#796 docs(documentation-website):add code factor rating to package and root readmes
  README.md
  framework/README.md
Labels: documentation, framework, cli

#805 feature(documentation-website): add julia
  documentation-website/public/assets/contributors/julia-furtuna.jpg
  documentation-website/src/pages/contributing/contributors/non-code-contributors.json
Labels: documentation-website

#804 Update breadcrumbs.tsx with adding <span> to fix breadcrumb nav issue
  documentation-website/src/components/breadcrumbs.tsx
Labels: documentation-website

#806 Delete documentation-website/public/assets/contributors/julia-furtuna…
  documentation-website/public/assets/contributors/julia-furtuna.jpg
Labels: documentation-website

#807 feature(mindmap): add more info to competitors
  mindmap/assets/new-logo.png
  mindmap/data.yml
Labels: mindmap

#793 Issue website add lighthouse check
  .github/workflows/documentation-website.lighthouse-check.yml
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/tools/constants.js
  documentation-website/tools/lighthouse-report.js
Labels: documentation-website, tooling

#808 feature(framework): introduce untested mssql storage
  framework/index.ts
  framework/package-lock.json
  framework/package.json
  framework/src/storage/mssql-storage.ts
Labels: framework

#809 feature(framework): introduce untested postgres storage
  framework/index.ts
  framework/package-lock.json
  framework/package.json
  framework/src/storage/postgres-storage.ts
Labels: framework

#812 feature(framework): add xray reporters
  framework/src/constants.ts
  framework/src/helper/default-reporter.ts
  framework/src/helper/format-date.ts
  framework/src/reporter/xray-cloud-reporter.ts
  framework/src/reporter/xray-onpremise-reporter.ts
Labels: framework

#817 documentation(documentation-website): add xray reporters and new storages
  .commitlintrc.json
  .dictionary.txt
  documentation-website/language/en.yml
  documentation-website/src/pages/usage/results/index.tsx
  documentation-website/src/pages/usage/storage/index.tsx
Labels: documentation-website, translation

#824 bug(ci): manually set values for fair comparison
  .github/workflows/cli.codeql.yml
  .github/workflows/documentation-website.codeql.yml
  .github/workflows/framework.codeql.yml
  .github/workflows/history-microservice.codeql.yml
  .github/workflows/history-website.codeql.yml
  .github/workflows/mindmap.codeql.yml
  .github/workflows/root.codeql.yml
  documentation-website/tools/lighthouse-report.js
Labels: documentation-website, tooling

#826 feature(framework): the config is now build from both command line options and env
  framework/src/cli/cli.ts
  framework/src/cli/config/config.ts
  framework/src/cli/config/factory.ts
  framework/src/cli/config/from-cli.ts
  framework/src/cli/config/from-env.ts
  framework/src/cli/config/to-value.ts
  framework/src/constants.ts
Labels: framework

#833 feature(ci): add prace
  .github/workflows/global.prace.yml
  prace.yml
Labels: tooling

#838 feature(ci): add conflibot
  .github/workflows/global.conflibot.yml
  containers/api-bench-history-website/Dockerfile
Labels: tooling

#840 Update global.conflibot.yml
  .github/workflows/global.conflibot.yml
Labels: tooling

#848 bug(cli): fix progress bar display
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/cli/make.ts
  cli/test/cli/make.ts
  framework/integration/.eslintrc.yml
  framework/property/.eslintrc.yml
Labels: documentation, framework, cli

#792 docs(documentation-website):Add npm run local to Contributor Guidelines
  documentation-website/language/en.yml
  documentation-website/src/pages/contributing/index.tsx
Labels: documentation, documentation-website, translation

#870 refactor(cli,framework,tools): simplify regexp
  cli/src/route-builder/to-filename.ts
  framework/src/helper/function-analyzer.ts
  tools/print-ci.js
Labels: framework, tooling, cli

#855 Issue curl call to route
  cli/bin/generate-benchmark-from-curl.js
  cli/language/en.yml
  cli/package.json
  cli/src/cli/curl-route-builder.ts
  cli/src/constants.ts
  cli/test/cli/curl-route-builder.ts
Labels: translation, cli

#874 feature(documentation-website): add language switch on footer (#702)
  documentation-website/language/en.yml
  documentation-website/src/components/footer.tsx
  documentation-website/src/components/language-switch.scss
  documentation-website/src/components/language-switch.tsx
  documentation-website/src/components/t.ts
  documentation-website/src/components/window.ts
  documentation-website/src/index.scss
Labels: documentation-website, translation

#878 feature(documentation-website): add italian language (#873)
  documentation-website/language/it.yml
Labels: documentation-website, translation

#889 feature(framework): add italian language (#886)
  framework/language/it.yml
Labels: framework, translation

#892 Update labeler.yml
  .github/labeler.yml
Labels: continuous-integration

#903 bug(documentation-website): fix build on windows
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/vite.config.ts
Labels: documentation-website

#904 docs(documentation-website):Add what is `idrinth/api-bench` to home page
  documentation-website/language/en.yml
Labels: documentation-website, translation

#905 feature(framework): database can be build via env or options
  framework/integration/storage/mysql-storage.ts
  framework/integration/storage/storage-factory.ts
  framework/src/cli/cli.ts
  framework/src/cli/config/config-factory.ts
  framework/src/cli/config/config.ts
  framework/src/storage/storage-factory.ts
Labels: framework

#906 feature(desktop): prepare basic logic
  .commitlintrc.json
  .dictionary.txt
  .github/PULL_REQUEST_TEMPLATE/desktop.md
  .github/PULL_REQUEST_TEMPLATE/full.md
  .github/labeler.yml
  .github/pull_request_template.md
  .gitignore
  README.md
  desktop/README.md
  desktop/index.cjs
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/run.cjs
  desktop/src/App.vue
  desktop/src/main.ts
  desktop/src/style.css
  desktop/src/vite-env.d.ts
  desktop/tools/copy-assets.js
  desktop/tools/copy-starter.js
  desktop/tools/drop-dist.js
  desktop/tools/fix-index.js
  desktop/tsconfig.json
  desktop/tsconfig.node.json
  desktop/vite.config.ts
Labels: documentation, tooling

#910 bug(desktop): simplify desktop building
  .github/dependabot.yml
  desktop/package-lock.json
  desktop/package.json
  desktop/public/package.json
  desktop/tools/copy-starter.js
  tools/publish.js
Labels: tooling, desktop

#924 docs(documentation-website)Reduce image size of non-code contributors
  documentation-website/public/assets/contributors/abriel-shipley.jpg
  documentation-website/public/assets/contributors/julia-furtuna.jpg
Labels: documentation-website

#921 Issue 891 misaligned sponsor logos
  documentation-website/src/components/sponsor.scss
  documentation-website/src/components/sponsor.tsx
Labels: documentation-website

#925 Issue 534 css split
  documentation-website/src/components/breadcrumbs.scss
  documentation-website/src/components/breadcrumbs.tsx
  documentation-website/src/components/code.scss
  documentation-website/src/components/contributor.scss
  documentation-website/src/components/cookie-consent.scss
  documentation-website/src/components/dark-mode-button.scss
  documentation-website/src/components/dark-mode-button.tsx
  documentation-website/src/components/external-link.scss
  documentation-website/src/components/faq-item.scss
  documentation-website/src/components/footer.scss
  documentation-website/src/components/footer.tsx
  documentation-website/src/components/header.scss
  documentation-website/src/components/header.tsx
  documentation-website/src/components/loader.scss
  documentation-website/src/components/loader.tsx
  documentation-website/src/components/youtube.scss
  documentation-website/src/index.scss
Labels: documentation-website

#915 build(documentation-website): add cypress test
  documentation-website/cypress/e2e/home.cy.ts
  documentation-website/cypress/fixtures/constants.ts
  documentation-website/cypress/support/e2e.ts
  gitCommitDev.sh
Labels: documentation-website

#939 bug(documentation-website): fix contributor loading
  .dictionary.txt
  documentation-website/cypress/e2e/language-switch.cy.ts
  documentation-website/cypress/fixtures/constants.ts
  documentation-website/language/en.yml
  documentation-website/src/airtime.ts
  documentation-website/src/components/airtime.tsx
  documentation-website/src/components/cookie-consent.tsx
  documentation-website/src/components/footer.scss
  documentation-website/src/components/layout.tsx
  documentation-website/src/components/social-link.tsx
  documentation-website/tools/.eslintrc.cjs
  documentation-website/tools/constants.js
  documentation-website/tools/load-contributors.js
Labels: documentation-website, tooling, translation

#852 refactor(framework):clean up function analyzer #780
  framework/src/helper/function-analyzer.ts
Labels: framework
