Repository idrinth-api-bench/api-bench, pull requests merged in 2024-05, with the labels that each got.

#944 feature(documentation-website): introduce million
  documentation-website/.knip.json
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/src/pages/contributing/index.tsx
  documentation-website/vite.config.ts
Labels: documentation-website

#954 feature(documentation-website): introduce automatic image conversion
  .gitignore
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/src/pages/contributing/contributors/index.tsx
  documentation-website/tools/load-contributors.js
  documentation-website/vite.config.ts
Labels: documentation-website, tooling

#956 feature(mindmap): introduce automatic image conversion
  mindmap/package-lock.json
  mindmap/package.json
  mindmap/src/index.css
  mindmap/src/show.ts
  mindmap/tools/data.js
Labels: tooling, mindmap

#960 bug(framework): fix function analyzer
  framework/src/helper/function-analyzer.ts
Labels: framework

#962 Issue 961 fetch new repo contributors
  documentation-website/tools/constants.js
  documentation-website/tools/load-contributors.js
Labels: component: documentation-website, component: tooling

#963 bug(documentation-website): fixed overlap issue between socials and footer
  documentation-website/src/components/footer.scss
Labels: component: documentation-website

#964 feature(documentation-website): added X logo in the socials navbar.
  documentation-website/public/assets/socials/x.svg
  documentation-website/src/components/header.tsx
Labels: component: documentation-website

#965 documentation(documentation-website): Update API bench link on docs w…
  documentation-website/src/components/header.tsx
  documentation-website/src/pages/contributing/index.tsx
Labels: component: documentation, component: documentation-website, component: framework, component: tooling, component: examples, component: translation, component: history-microservice, component: history-website, component: cli, component: mindmap, component: desktop, component: continuous-integration

#993 feature(containers): extract containers
  .github/PULL_REQUEST_TEMPLATE/dockerfiles.md
  .github/pull_request_template.md
  .github/workflows/api-bench-build.hadolint.yml
  .github/workflows/api-bench-gitea-action.hadolint.yml
  .github/workflows/api-bench-gitlab-runner.hadolint.yml
  .github/workflows/api-bench-history-microservice.hadolint.yml
  .github/workflows/api-bench-history-website.hadolint.yml
  .github/workflows/api-bench.hadolint.yml
Labels: component: documentation, component: continuous-integration

#991 bug(cli,desktop,documentation-website,framework,history-microservice,…
  cli/package-lock.json
  cli/package.json
  desktop/package.json
  documentation-website/package-lock.json
  documentation-website/package.json
  framework/package-lock.json
  framework/package.json
  framework/test/helper/user-agent.ts
  history-microservice/package-lock.json
  history-microservice/package.json
  history-website/package-lock.json
  history-website/package.json
  mindmap/package-lock.json
  mindmap/package.json
  package-lock.json
  package.json
Labels: component: documentation-website, component: framework, component: history-microservice, component: history-website, component: cli, component: mindmap, component: desktop

#1015 Issue 0 add assets script
  history-website/package.json
Labels: component: history-website

#1016 Issue 994 add italian translations
  documentation-website/language/it.yml
Labels: component: documentation-website, component: translation

#1017 Issue 779 cleanup faq
  documentation-website/src/components/faq-item.scss
  documentation-website/src/components/faq-item.tsx
Labels: component: documentation-website

#966 implement issue #951
  documentation-website/src/components/external-link.tsx
  documentation-website/src/components/header.tsx
Labels: component: documentation-website

#1019 feature(history-microservice): extract microservice
  .github/PULL_REQUEST_TEMPLATE/full.md
  .github/PULL_REQUEST_TEMPLATE/history-microservice.md
  .github/workflows/history-microservice.codeql.yml
  .github/workflows/history-microservice.eslint.yml
  .github/workflows/history-microservice.fta.yml
  .github/workflows/history-microservice.knip.yml
  .github/workflows/history-microservice.license-check.yml
  .github/workflows/history-microservice.mdlint.yml
  history-microservice/.env.example
  history-microservice/.eslintrc.cjs
  history-microservice/.knip.json
  history-microservice/.markdownlint.yaml
  history-microservice/.npmrc
  history-microservice/README.md
  history-microservice/index.ts
  history-microservice/package-lock.json
  history-microservice/package.json
  history-microservice/src/constants.ts
  history-microservice/src/routes/home.ts
  history-microservice/src/routes/home/GetBody.ts
  history-microservice/src/routes/home/GetHeaders.ts
  history-microservice/src/routes/home/GetQueryString.ts
  history-microservice/src/routes/home/GetReply.ts
  history-microservice/src/routes/login.ts
  history-microservice/src/routes/login/PostBody.ts
  history-microservice/src/routes/login/PostHeaders.ts
  history-microservice/src/routes/login/PostQueryString.ts
  history-microservice/src/routes/login/PostReply.ts
  history-microservice/src/routes/project.ts
  history-microservice/src/routes/project/GetBody.ts
  history-microservice/src/routes/project/GetHeaders.ts
  history-microservice/src/routes/project/GetQueryString.ts
  history-microservice/src/routes/project/GetReply.ts
  history-microservice/src/routes/projects.ts
  history-microservice/src/routes/projects/GetBody.ts
  history-microservice/src/routes/projects/GetHeaders.ts
  history-microservice/src/routes/projects/GetQueryString.ts
  history-microservice/src/routes/projects/GetReply.ts
  history-microservice/src/routes/route.ts
  history-microservice/src/routes/route/GetBody.ts
  history-microservice/src/routes/route/GetHeaders.ts
  history-microservice/src/routes/route/GetQueryString.ts
  history-microservice/src/routes/route/GetReply.ts
  history-microservice/src/server.ts
  history-microservice/tsconfig.json
Labels: component: documentation, component: history-microservice, component: continuous-integration

#1023 feature(cli): extract cli
  .github/PULL_REQUEST_TEMPLATE/cli.md
  .github/PULL_REQUEST_TEMPLATE/full.md
  .github/pull_request_template.md
  cli/.eslintrc.yml
  cli/.idrinth-typescript-language-from-yaml.yml
  cli/.knip.json
  cli/.markdownlint.yaml
  cli/.mocharc.cjs
  cli/.npmignore
  cli/.npmrc
  cli/.nycrc.json
  cli/.spellcheckerrc.yml
  cli/README.md
  cli/bin/generate-benchmark-from-curl.js
  cli/bin/generate-benchmark-from-har.js
  cli/bin/generate-benchmark-from-open-api.js
  cli/bin/make-benchmark-project.js
  cli/fixtures/api.har
  cli/fixtures/open-api.json
  cli/fixtures/open-api.yaml
  cli/fixtures/open-api.yml
  cli/language/de.yml
  cli/language/en.yml
  cli/language/es.yml
  cli/package-lock.json
  cli/package.json
  cli/src/cli/curl-route-builder.ts
  cli/src/cli/har-route-builder.ts
  cli/src/cli/make.ts
  cli/src/cli/open-api-route-builder.ts
  cli/src/constants.ts
  cli/src/helper/language.ts
  cli/src/route-builder/assert-type-is-object.ts
  cli/src/route-builder/find-name.ts
  cli/src/route-builder/har.ts
  cli/src/route-builder/open-api.ts
  cli/src/route-builder/to-filename.ts
  cli/test/.eslintrc.yml
  cli/test/cli/curl-route-builder.ts
  cli/test/cli/har-route-builder.ts
  cli/test/cli/make.ts
  cli/test/cli/open-api-route-builder.ts
  cli/test/helper/language.ts
  cli/test/route-builder/assert-type-is-object.ts
  cli/test/route-builder/find-name.ts
  cli/test/route-builder/to-filename.ts
  cli/tools/clear-js-files-from-src.js
  cli/tsconfig.json
Labels: component: documentation, component: tooling, component: translation, component: cli

#1025 fix translation retrieval
  history-website/src/lib/t.ts
Labels: component: history-website

#1024 Issue 0 add italian language on history website
  history-website/language/it.yml
Labels: component: translation, component: history-website

#1013 issue 949 fix
  .github/workflows/desktop.codeql.yml
  .github/workflows/desktop.eslint.yml
  .github/workflows/desktop.fta.yml
  .github/workflows/desktop.knip.yml
  .github/workflows/desktop.language.yml
  .github/workflows/desktop.license-check.yml
  .github/workflows/desktop.mdlint.yml
  .github/workflows/desktop.spellcheck.yml
  .github/workflows/desktop.stylelint.yml
Labels: component: continuous-integration

#1041 feature(mindmap,desktop,documentation-website,history-website): repla…
  assets/favicon.svg
  assets/iab.svg
  desktop/package-lock.json
  desktop/package.json
  desktop/src/App.vue
  desktop/src/main.ts
  desktop/tools/copy-assets.js
  documentation-website/index.html
  documentation-website/package-lock.json
  documentation-website/package.json
  documentation-website/src/components/header.tsx
  documentation-website/src/index.scss
  documentation-website/src/main.tsx
  history-website/index.html
  history-website/package-lock.json
  history-website/package.json
  history-website/src/App.svelte
  history-website/src/main.ts
  history-website/tools/copy-assets.js
  mindmap/package-lock.json
  mindmap/package.json
  mindmap/tools/copy-assets.js
  mindmap/tools/data.js
Labels: component: documentation-website, component: tooling, component: history-website, component: mindmap, component: desktop

#1043 feature(mindmap): extract mindmap
  .github/PULL_REQUEST_TEMPLATE/examples.md
  .github/PULL_REQUEST_TEMPLATE/framework.md
  .github/PULL_REQUEST_TEMPLATE/full.md
  .github/PULL_REQUEST_TEMPLATE/mindmap.md
  .github/pull_request_template.md
  .github/workflows/mindmap.codeql.yml
  .github/workflows/mindmap.eslint.yml
  .github/workflows/mindmap.fta.yml
  .github/workflows/mindmap.knip.yml
  .github/workflows/mindmap.license-check.yml
  .github/workflows/mindmap.spellcheck.yml
  .github/workflows/mindmap.stylelint.yml
  .github/workflows/mindmap.validate.yml
  mindmap/.eslintrc.cjs
  mindmap/.knip.json
  mindmap/.mocharc.cjs
  mindmap/.npmrc
  mindmap/.nycrc.json
  mindmap/.spellcheckerrc.yml
  mindmap/.stylelintrc.json
  mindmap/README.md
  mindmap/assets/markmap.png
  mindmap/assets/website-screenshot.png
  mindmap/data.yml
  mindmap/package-lock.json
  mindmap/package.json
  mindmap/public/.htaccess
  mindmap/public/robots.txt
  mindmap/schema.json
  mindmap/src/index.css
  mindmap/src/show.ts
  mindmap/test/.eslintrc.yml
  mindmap/test/integration.ts
  mindmap/tools/data.js
  mindmap/tools/validate.js
  mindmap/tsconfig.json
Labels: component: documentation, component: tooling, component: mindmap, component: continuous-integration

#1046 Update README.md
  README.md
Labels: component: documentation

#1048 feature(history-website): extract hisdtory website
  .github/PULL_REQUEST_TEMPLATE/history-website.md
  .github/pull_request_template.md
  .github/workflows/history-website.codeql.yml
  .github/workflows/history-website.eslint.yml
  .github/workflows/history-website.fta.yml
  .github/workflows/history-website.knip.yml
  .github/workflows/history-website.language-lint.yml
  .github/workflows/history-website.license-check.yml
  .github/workflows/history-website.mdlint.yml
  .github/workflows/history-website.spellcheck.yml
  history-website/.eslintrc.cjs
  history-website/.idrinth-typescript-language-from-yaml.yml
  history-website/.knip.json
  history-website/.markdownlint.yaml
  history-website/.npmrc
  history-website/.spellcheckerrc.yml
  history-website/.stylelintrc.json
  history-website/README.md
  history-website/cypress.config.ts
  history-website/index.html
  history-website/language/de.yml
  history-website/language/en.yml
  history-website/language/it.yml
  history-website/package-lock.json
  history-website/package.json
  history-website/src/App.svelte
  history-website/src/app.css
  history-website/src/lib/constants.ts
  history-website/src/lib/t.ts
  history-website/src/main.ts
  history-website/src/vite-env.d.ts
  history-website/svelte.config.js
  history-website/tsconfig.json
  history-website/tsconfig.node.json
  history-website/vite.config.ts
Labels: component: documentation, component: translation, component: history-website, component: continuous-integration

#1045 feature(desktop): extract mindmap
  .github/PULL_REQUEST_TEMPLATE/desktop.md
  .github/PULL_REQUEST_TEMPLATE/full.md
  .github/pull_request_template.md
  .github/workflows/desktop.codeql.yml
  .github/workflows/desktop.eslint.yml
  .github/workflows/desktop.fta.yml
  .github/workflows/desktop.knip.yml
  .github/workflows/desktop.language.yml
  .github/workflows/desktop.license-check.yml
  .github/workflows/desktop.mdlint.yml
  .github/workflows/desktop.spellcheck.yml
  .github/workflows/desktop.stylelint.yml
  desktop/README.md
  desktop/index.cjs
  desktop/index.html
  desktop/package-lock.json
  desktop/package.json
  desktop/public/package.json
  desktop/run.cjs
  desktop/src/App.vue
  desktop/src/main.ts
  desktop/src/style.css
  desktop/src/vite-env.d.ts
  desktop/tools/copy-starter.js
  desktop/tools/drop-dist.js
  desktop/tools/fix-index.js
  desktop/tsconfig.json
  desktop/tsconfig.node.json
  desktop/vite.config.ts
Labels: component: documentation, component: tooling, component: desktop, component: continuous-integration

#827 translation(documentation-website): german
  documentation-website/language/de.yml
Labels: component: documentation-website, component: translation

#700 Translation: Spanish website support
  documentation-website/language/es.yml
Labels: component: documentation, component: documentation-website, component: translation
